main {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 50px;
    border: solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1.2em;
}
.text {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
// Make sure there is a nice margin to the navbar on top.
@media only screen and (max-width: 805px) {

    main {
        margin-top: 2.8em;
    }
}